
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  display: flex;
  width: 700px;
  margin: auto;
  justify-content: center;
}

.instructions {
  display: flex;
  width: 700px;
  margin: auto;
}


.wrapper {
  display: flex;
  width: 700px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px 10px 10px 30px;
  border: 1px;
  border-radius: 10px;
  background-color: rgb(2, 2, 206);
  color: white;
}

.column-amount {
  position: relative;
  float: left;
  margin: .5%;
  width: 27%;
}

.column {
  position: relative;
  float: left;
  margin: .5%;
  width: 35%;

}

.interact {
  position: relative;
  float: left;
  margin: .5%;
}

#show-response {
  width: 700px;
  margin: auto;
  justify-content: center;
  padding-top: 15px;
  font-weight: bold;
}