body {
  background-image: url("../images/nyc.jpg");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  display: flex;
  width: 700px;
  margin: auto;
  justify-content: center;
}

.instructions {
  display: flex;
  width: 700px;
  margin: auto;
  justify-content: center;
}


.wrapper {
  display: flex;
  width: 700px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px 10px 10px 30px;
  border: 1px;
  border-radius: 10px;
  background-color: rgb(2, 2, 206);
  color: white;
}

.column-amount {
  position: relative;
  float: left;
  margin: .5%;
  width: 27%;
}

.column {
  position: relative;
  float: left;
  margin: .5%;
  width: 35%;

}

.interact {
  position: relative;
  float: left;
  margin: .5%;
}

#show-response {
  width: 670px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  padding: 15px;
  font-weight: bolder;
  background-color: rgb(84, 186, 249);
  border: 1px;
  border-radius: 10px;
}

.hidden {
  display: none;
}